
.checkbutton {
    margin-left: 15px;
    margin-right: 20px;
    color: green;
}

.shopbutton {
    margin-left: 25px;
    margin-right: 10px;
    color: blue;
}

.HomeTask {
    color: #ee675d;
    font-weight: bold;
}

.ItemDetails {
    margin-top: 30px;
    margin-bottom: 30px;
}

#WelcomeLine {
    margin-left: 25px;
    font-size: 25px;
    font-weight: bold;
}

#SelectHouseDiv {
    float: left;
}

#AddHouseDiv {
    /* margin-bottom: 25px; */
    float: left;

}

#HomeDropDown {
    margin-left: 25px;
    margin-bottom: 5px;
}

#GoButton {
    margin-left: 25px;
    padding: 6px;
    width: 80px;
    color: white;
    background-color: #ee675d;
}

#OrBlock {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    font-size: 25px;
    font-weight: bold;
    float: left;
}

#EnterPrompt {
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
}

#HomeInput {
    margin-left: 25px;
    margin-bottom: 5px;
    width: 20%;
}

#AddHouseBtn {
    margin-left: 25px;
    padding: 6px;
    width: 80px;
    color: white;
    background-color: #ee675d;

}

#todoTask{
    margin-left: 20px;
    margin-top: 15px;
}

#doneTask {
    margin-left: 20px;
    margin-top: 25px;
}

#TaskHomeDiv {
    display: none;
    background-color: gainsboro;
    padding-bottom: 20px;
}

#TaskRowGrid {
    padding-top: 25px;
}

#helpfulLinks {
    color: white;
}

#ShopArea {
    display: none;
}

#productArea {
    background-color: white;
}

